.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 85%;
  background-color: rgba(248, 248, 248, 0.712);
  font-family: "Roboto", "Lato", sans-serif;
}

p {
  font-size: 14px;
}

a {
  text-decoration: underline;
  color: black;
}

button {
  background-color: transparent;
  padding: 5px 20px;
  border: 1px solid teal;
  border-radius: 3px;
  color: teal;
}
